@font-face {
  font-family: Gandom;
  src: url('./Farsi-Digits/Gandom-FD.eot');
  src: url('./Gandom.eot?#iefix') format('embedded-opentype'),
       url('./Farsi-Digits/Gandom-FD.woff2') format('woff'),
       url('./Farsi-Digits/Gandom-FD.ttf') format('truetype');
  font-weight: normal;
}

body{


font-family: Gandom;
}
