.text_baner{
    font-weight: 700;
}
.nav-custom{

background-color: rgb(83, 80, 80);


}

.carousel-item-custom{
height: 70vh;
background-image: url("../img/inc.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.icon{
position: relative;
z-index: 10000;
top: 30px;


}